<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54709545510-bdn3u5ft3sfoji84tub56dvehljaek46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54709545510-bdn3u5ft3sfoji84tub56dvehljaek46</string>
	<key>API_KEY</key>
	<string>AIzaSyAmHPCByZyFVhQU6HqLWg1UEhRia84cIVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>54709545510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.timeLineApp</string>
	<key>PROJECT_ID</key>
	<string>timeline-8501a</string>
	<key>STORAGE_BUCKET</key>
	<string>timeline-8501a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54709545510:ios:a7ee9e21c882ba7a8054e7</string>
</dict>
</plist>