<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428759629331-7vcpfbgdjrrofrqjj9d7t6t16errc9oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428759629331-7vcpfbgdjrrofrqjj9d7t6t16errc9oa</string>
	<key>API_KEY</key>
	<string>AIzaSyBtq_KOZ4lPFvzQfsIsGem9mcY9ShGbTSc</string>
	<key>GCM_SENDER_ID</key>
	<string>428759629331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuwaiq.timeLine</string>
	<key>PROJECT_ID</key>
	<string>timeline-de10d</string>
	<key>STORAGE_BUCKET</key>
	<string>timeline-de10d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428759629331:ios:c77d12409981c43f39c9e6</string>
</dict>
</plist>