<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26583940728-egumqrd20d61rs72dbgi0bqln3eohuo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26583940728-egumqrd20d61rs72dbgi0bqln3eohuo7</string>
	<key>API_KEY</key>
	<string>AIzaSyCcsCN41W7QfbIyeZSuzrGVeMewqG1vqW0</string>
	<key>GCM_SENDER_ID</key>
	<string>26583940728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EbtesamAlahmari.TimelineApp</string>
	<key>PROJECT_ID</key>
	<string>timelineapp-8d435</string>
	<key>STORAGE_BUCKET</key>
	<string>timelineapp-8d435.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26583940728:ios:c67ea175e8ece6eab9b78d</string>
</dict>
</plist>