<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284853782028-58v4vu9rcsa7tmfljqva0v9t9mb860pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284853782028-58v4vu9rcsa7tmfljqva0v9t9mb860pi</string>
	<key>API_KEY</key>
	<string>AIzaSyAgqD1H3S8IJQ6Z6EZ_Rq7lXrJWDpPM3yk</string>
	<key>GCM_SENDER_ID</key>
	<string>284853782028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RayanTaj.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-d8591</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-d8591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284853782028:ios:f021fc91b90dc028131029</string>
</dict>
</plist>