<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079313674997-6obe0jpe02no8geo5gk5bhsruaj0qb80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079313674997-6obe0jpe02no8geo5gk5bhsruaj0qb80</string>
	<key>API_KEY</key>
	<string>AIzaSyCSld9lX9yL30uYNl1fCedzVjwS7Jee028</string>
	<key>GCM_SENDER_ID</key>
	<string>1079313674997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Users-sahabalharbi.Timeline</string>
	<key>PROJECT_ID</key>
	<string>timeline-ff21f</string>
	<key>STORAGE_BUCKET</key>
	<string>timeline-ff21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079313674997:ios:c3e25c1963fef359590bbc</string>
</dict>
</plist>