<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635943403424-7ppls88c8m9bcc10ag4ofm2ondi367tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635943403424-7ppls88c8m9bcc10ag4ofm2ondi367tb</string>
	<key>API_KEY</key>
	<string>AIzaSyApagZAWoN5Le3R2OqIf2dcJkMqecOKsgE</string>
	<key>GCM_SENDER_ID</key>
	<string>635943403424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>n.timeLine</string>
	<key>PROJECT_ID</key>
	<string>timeline-60415</string>
	<key>STORAGE_BUCKET</key>
	<string>timeline-60415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635943403424:ios:ee78c2fe8d07513e856ec5</string>
</dict>
</plist>